<header>
    <nav class="navbar navbar-light bg-white navbar-1">
        <div id="mySidenav" class="sidenav">
            <a class="closebtn" (click)="closeNav()">&times;</a>
            <a href="#"><i class="fas fa-pizza-slice"></i> Pizza</a>
            <a href="#"><i class="fas fa-hamburger"></i> Burger</a>
            <a href="#"><i class="fas fa-salad"></i> Salade</a>
            <a href="#"><i class="fas fa-meat"></i> Viande</a>
            <a href="#"><i class="fas fa-fish"></i> Poisson</a>
            <a href="#"><i class="fas fa-cocktail"></i> Boisson</a>
        </div>
        <span style="font-size:30px;cursor:pointer" (click)="openNav()" [hidden]="!isShowSideNav()">&#9776;</span>
        <img class="nav navbar-nav mx-auto" src="assets/img/openBarSmall.png">
        <i class="fas fa-power-off" [hidden]="!isShowSideNav()"></i>    
    </nav>
</header>
<app-login></app-login>
<router-outlet></router-outlet>