<div class="card-group">
  <div class="col-sm-4 text-center my-4" *ngFor="let boisson of boissons">
    <div class="card" style="padding: 10px;">
      <img src="{{boisson.img}}" class="card-img-top" alt="{{boisson.name}}">
      <div class="card-body">
        <h4 class="card-title">
          <strong>
            <a href="">{{boisson.name}}</a>
          </strong>
        </h4>
        <p class="card-text" style="text-align: justify;">{{boisson.description}}</p>
        <div class="card-footer">
          <span>
            <strong>{{boisson.price}}€</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>