<!-- <div class="d-flex justify-content-center">
    <h2 class="text-center my-3">Bienvenue sur l'application OpenBar !</h2>
</div> -->

<div class="container" style="height:100%">
  <div class="row align-items-center pt-5">
    <div class="col-12">
      <h1 class="font-weight-light mb-4" style="text-align: center">Bienvenue sur l'application OpenBar !</h1>
      <p style="text-align: justify">Une plateforme spécialment conçu pour les professionnels de la restauration avec
        une carte toujours à jour qui vous permet d'économiser sur la durée en n’ayant plus à
        devoir imprimer vos supports, un gain d’argent et de temps considérable pour votre entreprise tout en assurant
        une démarche écologique !
      </p>
    </div>
    <div class="col-12 d-flex flex-row">
      <p class="col-6" style="text-align: justify">
        <b>Pour les clients :</b> Un temps d'attente réduit considérablement, surtout le temps de midi parfois limité.
        Une séléction de plats personnalisé pour lui/elle avec une gestion du budget au centimes près !
      </p>
      <p class="col-6" style="text-align: justify">
        <b>Pour les serveurs :</b> Une gestion de leurs services à la minute près. Des allers-retours incessants évités
        grâce à une meilleure communication avec le personnel de cuisine. Une efficacité à toutess épreuve !
      </p>
    </div>
  </div>
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">This call to action card is a great place to showcase some important information or
        display a clever tagline!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Card One</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam,
            maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Card Two</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at
            dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi
            labore.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Card Three</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam,
            maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>