<div class="container" style="height:100%">
  <div class="row align-items-center pt-5">
    <div class="col-12">
      <h1 class="font-weight-light mb-4" style="text-align: center">Bienvenue sur l'application OpenBar !</h1>
      <p style="text-align: justify">Une plateforme spécialment conçu pour les professionnels de la restauration avec
        une carte toujours à jour qui vous permet d'économiser sur la durée en n’ayant plus à
        devoir imprimer vos supports, un gain d’argent et de temps considérable pour votre entreprise tout en assurant
        une démarche écologique !
      </p>
    </div>
    <div class="col-12 d-flex flex-row">
      <p class="col-6" style="text-align: justify">
        <b>Pour les clients :</b> Un temps d'attente réduit considérablement, surtout le temps de midi parfois limité.
        Une séléction de plats personnalisé pour lui/elle avec une gestion du budget au centimes près !
      </p>
      <p class="col-6" style="text-align: justify">
        <b>Pour les serveurs :</b> Une gestion de leurs services à la minute près. Des allers-retours incessants évités
        grâce à une meilleure communication avec le personnel de cuisine. Une efficacité à toutess épreuve !
      </p>
    </div>
  </div>
  <div class="card text-white bg-transparent my-5 text-center">
    <div class="card-body" style="font-size: 20px">
      <p class="text-dark m-0"><i class="fas fa-users"></i> Près de 100 000 utilisateurs</p>
      <span><i class="fas fa-angle-double-down" style="color: black"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title"><i class="fal fa-user-circle"></i> Eric M.</h2>
          <p class="card-text" style="font-size: 16px">Très bonne application ! J'adore le système de fidélité qui me
            permet de me faire plaisir
            plus souvent a moindre coût. <i class="far fa-grin-alt"></i></p>
        </div>
        <div class="card-footer" style="text-align: center; font-size: 20px">
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="far fa-star"></i></span>
          <label class="ml-2">4.1/5</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title"><i class="fal fa-user-circle"></i> Julie T.</h2>
          <p class="card-text" style="font-size: 16px">Fini l'angoisse d'arriver en retard au boulot pendant une halte
            au restaurant le midi.
            Service efficace, budget controlé et fidélisation en prime. Merci OpenBar <i class="far fa-thumbs-up"></i>
          </p>
        </div>
        <div class="card-footer" style="text-align: center; font-size: 20px">
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star-half-alt"></i></span>
          <label class="ml-2">4.7/5</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title"><i class="fal fa-user-circle"></i> Marie B.</h2>
          <p class="card-text" style="font-size: 16px">Application pratique et très simple d'utilisation. Les fonctions
            de paiement en ligne
            avec partage d'addition sont très agréable et apprécié quand je sors avec mes amis. Un bel avenir pour
            OpenBar ! <i class="far fa-grin-stars"></i>
          </p>
        </div>
        <div class="card-footer" style="text-align: center; font-size: 20px">
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star-half-alt"></i></span>
          <label class="ml-2">4.5/5</label>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>