<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let poisson of poissons">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top img-thumbnail" alt="{{poisson.img}}" style="min-height: 230px; width: 100%; "
            src="{{poisson.img}}">
          <div class="card-body">
            <p class="card-text" style="text-align: justify;height: 100%; width: 100%;">{{poisson.description}}</p>
            <div class="card-footer" style="text-align: center">
              <span>
                <strong>{{poisson.price}}€</strong>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>